@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Ubuntu:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Hiroshige colors from MetBrewer R package
$blue:   #5d8198 !default;
$indigo: #376795 !default;
$purple: #480B6A !default;
$pink:   #A52C60 !default;
$red:    #e76254 !default;
$orange: #ef8a47 !default;
$yellow: #ffd06f !default;
$green:  #02b875 !default;
$teal:   #aadce0 !default;
$cyan:   #72bcd5 !default;

$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$font-family-sans-serif:      Barlow, sans-serif !default;
$font-family-serif:           Barlow, serif !default;

$font-size-base:              1.25rem !default;

$h1-font-size: $font-size-base * 2.45;
$h2-font-size: $font-size-base * 1.85;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.8;

$toc-font-size: 1.1rem;
$sidebar-font-size: 1.1rem;
$sidebar-font-size-section: 0.9rem;

$link-color: $blue;
$link-hover-color: $red;

$monokai-bg: #2e3440;

html {
  margin:    0 auto;
  max-width: 80%;
}

ul {
  font-weight: 100;
}

p {
  font-weight: 100;
}

h1, h2, h3 {
  font-weight: 700;
}

h4, h5, h6 {
  font-weight: 100;
}

.title-block {
  margin: 1em 0;
  padding-bottom: 1em;
}

.course-title {
  font-size: 1.2rem;
  color: $gray-600;
}

.course-subtitle {
  font-weight: 700;
  color: $red;
}

.course-icon {
  font-size: 40pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

@media(min-width:992px) {
  .course-icon {
    font-size: 80pt;
  }
}

.course-meta {
  font-size: 1.2rem;
  color: $gray-600;
}

.course-details {
  border-bottom: 1px solid $gray-200;
  padding-bottom: 1em;
}

.course-details h3 {
  margin-top: 0;
}

.course-details ul {
  list-style: none;
  text-indent: -0.7rem;
  padding-left: 1.4rem;
}

.course-details-smaller li {
  font-size: 1rem;
}

.course-details-smaller h3 {
  font-size: 1.4rem;
}
